<html>
<head>
	<title>Simple Calculator</title>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/assets/myCalculator.css">
</head>
<body>
	<div class="container">
		<h1>KingsleyJohn</h1>
		<div class="display">
			<input type="text" id="display">
		</div>
		<div id="buttons">
			<button class="buttons" id="0">0</button>
			<button class="buttons" id="1">1</button>
			<button class="buttons" id="2">2</button>
			<button class="buttons" id="r">+</button>
			<button class="buttons" id="3">3</button>
			<button class="buttons" id="4">4</button>
			<button class="buttons" id="5">5</button>
			<button class="buttons" id="-">-</button>
			<button class="buttons" id="6">6</button>
			<button class="buttons" id="7">7</button>
			<button class="buttons" id="8">8</button>
			<button class="buttons" id="q">x</button>
			<button class="buttons" id="9">9</button>
			<button class="buttons" id="c">C</button>
			<button class="buttons" id="w">=</button>
			<button class="buttons" id="e">/</button>
		</div>
	</div>

<script type="text/javascript" src="/assets/myCalculator.js"></script>
</body>
</html>