
<html>
<head>
	<title>Color Game</title>
	<link rel="stylesheet" type="text/css" href="/assetcolorGame.css">
</head>
<body>
	<div class="header">
		<h1>The color guessing game</h1>
		<h2>Guess the color
			<br> 
			<span>rgb(255, 244, 21)</span>
		</h2>
	</div>
	<div class="control">
		<button>New Colors</button>
		<span></span>
		<button>Easy</button>
		<button>Hard</button>
		<button>Legend</button>
	</div>
	<div id="container">
		<div class="squares"></div>
		<div class="squares"></div>
		<div class="squares"></div>
		<div class="squares"></div>
		<div class="squares"></div>
		<div class="squares"></div>
		<div class="squares"></div>
		<div class="squares"></div>
		<div class="squares"></div>	
	</div>

<script type="text/javascript" src="/assets/colorGame.js"></script>
</body>
</html>