<html>
<head>
	<title>KingsleyJohn</title>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/landing.css">
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
				<a href="#" class="navbar-brand active">Kingsley John</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-nav-demo">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#home1">Home</a></li>
					<li><a href="#about">About</a></li>
					<li><a href="#portfolio">Portfolio</a></li>
					<li><a href="#contact">Contact</a></li>
				</ul>
			</div>
		</div>
	</nav>
<a name="home1"></a>
<div class="container main">
	<div class="row">
		<div class="col-xs-12">
			<h1>KingsleyJohn</h1>
			<p class="motto">Delivering Web Technology the way you want it..</p>
			<hr>
			<a href="https://twitter.com/sirkingzo"><button class="btn btn-default btn-sm">Twitter</button></a>
			<a href="https://github.com/KingsleyJohn"><button class="btn btn-default btn-sm">Github</button></a>
			<a href="https://ng.linkedin.com/in/kingsley-nwankwo-111b5271"><button class="btn btn-default btn-sm">LinkedIn</button></a>
			<a href="https://www.freecodecamp.com/kingsleyjohn"><button class="btn btn-default btn-sm">freeCodeCamp</button></a>
		</div>
	</div>
</div>
<a name="about"></a>
<div class="container main2"> 
	<div class="row">
		<div class="col-md-6">
			<h2>KingsleyJohn</h2>
			<p class="about">At <span>KingsleyJohn</span> all we do is find solutions to your web challenges. We have a team of dedicated staffs with awesome expertise just waiting to take on your most daunting web challenges.</p>
			<p class="about listing">Our services include:</p>
			<p class="about listing">responsive Web Designs,</p>
			<p class="about listing">3D web applications,</p>
			<p class="about listing">blog development and management,</p>
			<p class="about listing">full stack web development</p>
		</div>
		<div class="col-md-6">
			<img class="img-circle img-responsive" src="/assets/img/justme.jpg" >
		</div>
	</div>
</div>
<a name="portfolio"></a>
<div class="container main3">
    <div class="row">
      <div class="col-sm-6 col-md-4 portfolio">
        <a href="/color">
          <img src="https://i.gyazo.com/thumb/200/_4b3d1ecf3324b3b552cce467a9d302c5-png.jpg" class="thumbnail">
          <p>An awesome color guessing game!</p>
        </a>
      </div>
      <div class="col-sm-6 col-md-4 portfolio">
        <a href="http://codepen.io/kingsleyjohn/pen/gPvxMP">
          <img src="https://i.gyazo.com/72698ff3c7f03699a55928721be126cf.png" class="thumbnail">
          <p>An awesome random quote machine</p>
        </a>
      </div>
      <div class="col-sm-6 col-md-4 portfolio">
        <a href="/calculator">
          <img src="https://i.gyazo.com/b3743adaa4bbdfde1f24e1bf4bfcf4c9.png" class="thumbnail">
          <p>A Simple Calculator</p>
        </a>
      </div>
      <div class="col-sm-6 col-md-4 portfolio">
        <a href="http://codepen.io/kingsleyjohn/pen/EPpXBy">
          <img src="https://i.gyazo.com/7a588bb32c40049fff3b430352d6ed8c.png" class="thumbnail">
          <p>A Pomodoro Timer</p>
        </a>
      </div>
      <div class="col-sm-6 col-md-4 portfolio">
        <a href="#">
          <img src="http://c2.staticflickr.com/6/5814/20700286354_762c19bd3b_b.jpg" class="thumbnail">
		</div>
		<div class="col-sm-6 col-md-4 portfolio">
			<a href="#">
			<img src="http://c2.staticflickr.com/8/7218/7209301894_c99d3a33c2_h.jpg" class="thumbnail">
			<p>Things we have done!</p>
			</a>
		</div>
	</div>
</div>
<a name="contact"></a>
<div class="container main4">
	<h2>KingsleyJohn</h2>
	<h2>nwankwo.kingsleyjohn@gmail.com</h2>
</div>
</body>
</html>