.squares {
	background-color: blue;
	width: 30%;
	padding-bottom: 20px;
	float: left;
	margin: 1.6%;
	height: 120px;
	border-radius: 5%;
}

.selected {
	background: black;
	color: white;
}

#container {
	height: 100%;
	width: 55%;
	margin: auto;
}

.header {
	text-align: center;
	background-color: black;
	color: white;
	line-height: 1.0;
	text-transform: uppercase;
	padding-bottom: 20px;
	padding-top: 30px;
}

.control {
	padding-top: 0px;
	text-align: center;
	background-color: white;
	height: 30px;
}
.control span {
	width: 20px;
}

body {
	background-color: #0f0f0f;
}
button {
	height: 100%;
	outline: none;
	font-weight: bold;
	border: 0px;
	background-color: white;
	letter-spacing: 1.5;
}
button:hover {
	background-color: black;
	color: white;
}